.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.CloseBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 30px -2px white;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.CloseBtn:hover,
.CloseBtn:focus {
  color: #ffff00;
  box-shadow: 0px 0px 30px -2px white, 0px 0px 4px 0px yellow;
}
